<h1>New Messages partial!</h1>
<%if @chat.messages then %>
  <%@chat.messages.each do |message| %>
    <div>
      ---
      <div id="message"> <%="#{message.user.email}: #{message.message}"%></div>
      <div> <%=time_ago_in_words((message.created_at)) + " ago"%></div>
      --- 
    </div>
  <%end%>
<%else%>
  <div> Send a message!</div>
<%end%>
<h1>EONew Messages partial!</h1>
