/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  margin: 0, 0.1%;

  height: min(100vh);
  background-color: #f5f5f5;
}

#navigation-panel {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #1c1c1c;
  color: #fff;
  height: 50px;
}

#navigation-panel > * {
  list-style: none;
}
#sign-out-button:hover {
  color: #3a86ff;
}

#sign-out-button {
  font: 16px times;
  list-style: none;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #1c1c1c;
}

#navigation-panel > ul {
  display: flex;
  justify-content: space-evenly;
}

#navigation-panel > ul > li > * {
  text-decoration: none;
  color: #fff;
}

#navigation-panel > ul > li > *:hover {
  color: #3a86ff;
}
a {
  text-decoration: none;
}

a:hover {
  color: #3a86ff;
}

.main-body {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  min-height: 440px;
}

.header {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.secondary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2/3;
  padding: 0 5%;
  min-height: 75vh;
}

footer {
  display: flex;
  padding: 1%;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #1c1c1c;
  color: #fff;
  /* height: 10vh; */
}

.form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #1c1c1c;
  color: #fff;
  padding: 2%;
  width: fit-content;
  height: fit-content;
}
.actions {
  margin: 1%;
}
.actions > input {
  width: 50px;
  height: 50px;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

#footer-container {
  width: 100%;
}
#footer-side-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#socials {
  display: flex;
  width: 20%;

  justify-content: space-evenly;
}
#socials > a {
  text-decoration: none;
  color: #fff;
}
#socials > a:hover {
  color: #3a86ff;
}

input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#settings {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
