/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  margin-left: 2%;
  margin-right: 2%;

  background-color: #f5f5f5;
}

#navigation-panel {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #1c1c1c;
  color: #fff;
}

#navigation-panel > * {
  list-style: none;
}

#navigation-panel > ul {
  display: flex;
  justify-content: space-evenly;
}

#navigation-panel > ul > li > * {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #3a86ff;
}

.main-body {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.header {
  grid-row: 1/2;
}
.main-content {
  grid-row: 2/3;
}

footer {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #1c1c1c;
  color: #fff;
}
