.header {
  padding: 2%;
}
#search-bar {
  width: 100%;
}
#search-box {
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 1%;
}
#user-name,
#submit-button {
  height: 100%;
}

#results-box {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}
#list-of-people {
  width: 100%;
  align-items: flex-start;
}
#results-box > * {
  list-style: none;
  text-transform: uppercase;
}

#user-name {
  width: 100%;
  height: 100%;
}

.searched-user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.profile-picture-searched {
  height: 50px;
  width: 50px;
}

.profile-picture-searched > img {
  height: 40px;
  width: 40px;

  border-radius: 50%;
}
