<div id="footer">
  <footer>
    <div id="footer-container">
      <div id="filler-info">
        <p>There's really nothing else to put here except filler information pertaining to this website.</p>
        <p>This website is a website of  websites!</p>
      </div>
      <div id="footer-side-box">
        <div id="copyright-stuff-xd"> NOBAN [DEMO PROJECT] 2025 </div>
        <div id="socials">
          <%=link_to "Twitter", "test" %>
          <%=link_to "Github", "test" %>
          <%=link_to "Contact me", "mailto:nobansec@gmail.com" %>
        </div>
      </div>
    </footer>
  </div>