<div id="footer">
  <footer>
    <div id="footer-container">
      <div id="filler-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem pariatur officia exercitationem asperiores ipsam necessitatibus, at, officiis eveniet, delectus fugit modi natus nulla illum deleniti sunt maiores facere quasi.</div>
      <div id="footer-side-box">
        <div id="copyright-stuff-xd"> noban [DEMO PROJECT] 2025 </div>
        <div id="socials">
          <%=link_to "test", "test" %>
          <%=link_to "test", "test" %>
          <%=link_to "test", "test" %>
        </div>
      </div>
    </footer>
  </div>